reset * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*esta propiedad la utlizo cuando tengo scroll horizontal, para hubicar que caja lo está generando
*/
/*{
    border: solid red; 
    
}*


/* estilos generales en todos los HTML*/
body {
    background: rgb(151, 201, 143);
    background: linear-gradient(90deg, rgba(151, 201, 143, 1) 0%, rgba(11, 176, 209, 1) 86%);
}

.contenedor {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.logo-planificar {
    margin-right: 10px;
}


/*para realizar el menu fijo extraje informacion de http://www.falconmasters.com/web-design/tutorial-menu-de-navegacion-fijo*/
header {
    display: flex;
    background: rgb(151, 201, 143, 2);
    width: 100%;
    position: fixed;
    z-index: 1;
}

.nav-link {
    display: block;
    /* Convertimos los elementos a en elementos bloque para manipular el padding */
    padding: 0px 2px;
    text-decoration: none;
    font-weight: bolder;
    color: azure;
}


header nav ul li {
    justify-content: space-between;
    list-style: none;
    display: flex;
    flex-flow: nowrap;
    border-radius: 15%;
    font-family: 'Acme', sans-serif;
    letter-spacing: 2px;
    font-size: 15px;
    justify-content: center;
    margin-right: 5px;
}

nav a {
    text-decoration: none;
    font-weight: 600;
    padding-right: 10px;
}

nav a :hover {
    color: black;
}

.volver-arriba {
    background: transparent;
    cursor: pointer;
    border: none;
    padding: 16px 32px;
    font-size: 15px;
    letter-spacing: 3px;
    font-weight: bold;
    position: fixed;
    border-radius: 12px;
    bottom: 10px;
    right: 30px;
}

.volver-arriba::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, rgb(34, 193, 195), rgb(34, 193, 195), rgb(211, 213, 223), rgb(34, 193, 195), rgb(34, 193, 195), rgb(34, 193, 195), rgb(211, 213, 223), rgb(34, 193, 195));
    background-size: 800%;
    border-radius: 10px;
    filter: blur(8px);
    animation: glowing 20s linear infinite;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

.estilo-boton {
    color: black;
}

h1 {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 50px;
    font-family: 'Righteous', cursive;
    color: black;
    width: 100%;

}

.loader {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    animation: spin 1.2s linear infinite;
}

.loader::after,
.loader::before {
    content: '';
    position: absolute;
    border-radius: inherit;
}

.loader::after {
    width: 85%;
    height: 85%;
    background: linear-gradient(0deg, rgba(34, 193, 195, 1) 38%, rgb(211, 213, 223) 76%);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loader::before {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgb(211, 213, 223) 100%);
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.container {
    position: absolute;
    left: 0%;
    top: 60%;
    padding: 10px;
}

input {
    outline: none;
    height: 30px;
    width: 0px;
    padding: 0 20px;
    color: #000;
    border-radius: 30px;
    font-size: 20px;
    border: 1px solid #1bb134;
    transition: all .7s ease;
}

::placeholder {
    color: grey;
}

.btn {
    right: 0px;
    top: 0px;
    width: 40px;
    height: 40px;
    background: #1cac23;
    line-height: 40px;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    transition: .5s;
}

.btn i {
    font-size: 25px;
    color: white;
    line-height: 40px;
    transition: all .7s ease;
}

.container:hover input {
    width: 350px;
}

.container:hover i {
    transform: rotate(-360deg);
}

.btn:hover {
    background: #1c56a1;
}

/* estilos index*/
.titulo-planificar-index {
    font-family: 'Righteous', cursive;
    color: black;
    padding-top: 100px;
    letter-spacing: 10px;
    box-shadow: 1px 1px rgba(2, 68, 70, 0.9);

}

.introduccion-index {

    font-family: 'Righteous', cursive;
    text-align: justify;
    margin-left: 8px;
    margin-right: 8px;
}

.animate__heartBeat {
    display: inline-flex;
    margin: 0 1rem;
    padding-top: 20px;
    animation: flash;
    animation-duration: 2s;
    text-align: center;
}

h2 {
    padding-top: 0px;
    padding-bottom: 10px;
    font-family: 'Righteous', cursive;
    color: black;
    text-align: center;
}

.video-planificar {
    display: flex;
    justify-content: center;
}

/*aplicacion de grid a los niveles de planificacion*/

.explicacion-pagina {
    display: flex;
    justify-content: center;
    font-size: large;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(15, 3, 7);
}

.imagen-competicion {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-left: 5.9%;
    gap: 15px;
    width: 50%;
    height: 50%;
}

.titulo-index {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-weight: bolder;
    margin-bottom: 5px;
    text-align: center;
    background: aqua;
    color: black;
    border-bottom-left-radius: 25%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}



/* estilos contactanos*/
.mensaje-directo {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    padding-top: 100px;
}

.nombre-contacto {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 15px;
}

.mail-contacto {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 15px;
}

/* estilos sumate*/
.titulo-sumate {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
}

.atencion-sumate {
    color: red;
    font-weight: bold;
}

.boton-foto-sumate {
    margin-left: 70%;
    margin-bottom: 10px;
}

.foto-perfil-sumate {
    margin-left: 900px;
}

.boton-enviar-sumate {
    margin-top: 50px;
    font-size: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    color: white;
    background: #638cb5;
    border-radius: 10px;
    width: 800px;
    height: 60px;
}

label {
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    color: black;
    border: 3px;
    width: 800px;
    height: 20px;
}

.input-sumate {
    margin-bottom: 15px;
    margin-left: 15px;
    border-bottom: 10px;
}

/*estilos de la Tienda*/

h3 {
    display: flex;
    justify-content: center;
    font-size: large;
}

.texto-tienda {
    font-size: 2fr;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    ;
    font-weight: bold;
    color: rgb(15, 3, 7);
}

.imagen-principal-tienda {
    display: grid;
    grid-template-columns: 2fr 2fr;
    width: 50%;
    padding: 10px;
    float: left;
}


.grid-imagen-texto {
    text-align: center;
    font-size: 18px;
    font-weight: 300;
    font-weight: bold;
}


section {
    display: flex;
    justify-content: center;
    width: 600px;
    height: 430px;
    padding-left: 10%;
}

section img {
    width: 10%;
    flex-grow: 1;
    object-fit: cover;
    opacity: 0.5;
    transition: .5s ease;
}

section img:hover {
    cursor: pointer;
    width: 50%;
    opacity: 1;
    filter: contrast(120%);
}

.boton-vende {
    background-color: rgb(151, 201, 143);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    ;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 3px;
    margin-left: 10px;
    margin-top: 7px;
    color: rgb(10, 7, 1);
    box-shadow: 1px 1px rgb(51, 112, 41);
    border-color: transparent;
}


/*estilos de Planificar*/


.login-box {
    width: 35%;
    height: 35%;
    background: linear-gradient(0deg, rgba(151, 201, 143, 1) 50%, rgba(11, 176, 209, 1) 90%);
    color: black;
    margin-left: 75vh;
    padding: 130px 10px 10px 10px;
}

.login-box .avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;


}

.login-box h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
    color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.login-box input {
    color: black;
    width: 100%;
    margin-bottom: 20px;
}

.login-box input[type="text"],
.login-box input[type="password"] {
    border: none;
    border-bottom: 1px solid black;
    background: black;
    outline: none;
    height: 40px;
    color: white;
    font-size: 16px;
}

.login-box input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    background: rgba(11, 176, 209, 1);
    color: black;
    font-size: 18px;
    border-radius: 20px;
}

.login-box input[type="submit"]:hover {
    cursor: pointer;
    background: white;
    color: #000;
}

.login-box a {
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: black;
}

.login-box a:hover {
    color: #fff;
}

.input-sumate {
    height: 1rem;
}

.boton-planificar {
    font-size: medium;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    color: black;
    background: #638cb5;
    border-radius: 10px;
    width: 25%;
    height: 40px;
}

.sit-juego {
    margin-bottom: 10px;
    margin-top: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    outline: 0;
    background: aquamarine;
    color: rgb(8, 8, 8);
    border: 1px solid rgb(19, 90, 122);
    padding: 4px;
    border-radius: 9px;
}

.sit-juego-lista {
    margin-bottom: 10px;
    margin-top: 5px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    outline: 0;
    background: aquamarine;
    color: rgb(8, 8, 8);
    border: 1px solid rgb(19, 90, 122);
    padding: 4px;
    border-radius: 9px;
}

.objetivo-lista {
    margin-bottom: 10px;
    margin-top: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    outline: 0;
    background: aquamarine;
    color: rgb(8, 8, 8);
    border: 1px solid rgb(19, 90, 122);
    padding: 4px;
    border-radius: 9px;
}

.obj-situacion {
    margin-bottom: 10px;
    margin-top: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    outline: 0;
    background: aquamarine;
    color: rgb(8, 8, 8);
    border: 1px solid rgb(19, 90, 122);
    padding: 4px;
    border-radius: 9px;
}

.elementos-court {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: medium;
    font-weight: bold;
    outline: 0;
    background: aquamarine;
    color: rgb(8, 8, 8);
    border: 1px solid rgb(19, 90, 122);
    padding: 10px;
    border-radius: 9px;
}

.elemento-solo {
    width: auto;
    background-repeat: no-repeat;
    text-align: center;
    margin-bottom: 10px;
}

.agregar-court {
    margin-left: 50px;
    margin-top: 10px;
    font-size: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    color: white;
    background: #638cb5;
    border-radius: 10px;
    width: 200px;
    height: 30px;
}

.court-central {
    width: 70%;
}

.confirmar-clase {
    margin-left: 300px;
    margin-top: 30px;
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    color: white;
    background: #638cb5;
    border-radius: 10px;
    width: 500px;
    height: 60px;
}


/*:::::Pie de Pagina*/
.pie-pagina {
    width: 100%;
    background-color: transparent;
    margin-top: 30px;

}

.pie-pagina .grupo-1 {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 5px 0px;
}

.pie-pagina .grupo-1 .box figure {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pie-pagina .grupo-1 .box h2 {
    color: black;
    margin-bottom: 5px;
    font-size: 20px;
}

.pie-pagina .grupo-1 .box p {
    color: black;
    margin-bottom: 10px;
}

.pie-pagina .grupo-1 .red-social a {
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: black;
    margin-right: 10px;
    background-color: transparent;
    text-align: center;
    transition: all 300ms ease;
}

.pie-pagina .grupo-1 .red-social a:hover {
    color: aqua;
}

.pie-pagina .grupo-2 {
    background-color: transparent;
    padding: 15px 10px;
    text-align: center;
    color: black;
}

.pie-pagina .grupo-2 small {
    font-size: 15px;
}

@media screen and (max-width:800px) {
    body {
        background: rgb(255, 128, 0);
        background: radial-gradient(circle, rgba(255, 128, 0, 1) 26%, rgba(253, 196, 45, 1) 57%);
    }

    header {
        background-color: #ff8000;
    }

    .container {
        top: 85%;
    }

    .btn {
        display: none;
    }

    input {
        outline: none;
        height: 10px;
        width: 0px;
        padding: 0 10px;
        color: #000;
        border-radius: 10px;
        font-size: 10px;
        border: 1px solid #1bb134;
        transition: all .7s ease;
    }

    .volver-arriba {
        padding: 10px 19px;
        font-size: 10px;
    }

    .imagen-principal-tienda,
    .texto-tienda {
        width: 100%;
    }

    .imagen-competicion {
        display: grid;
        grid-template-columns: 1fr;
    }

    section {
        display: flex;
        width: 45%;
        height: 45%;
    }

    .pie-pagina .grupo-1 {
        width: 50%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;

    }

    .no-en-mobile {
        display: none;
    }

    .court-central {
        width: 25%;
    }

    .login-box {
        width: 70%;
        margin-top: 3rem;

    }
}

@media (max-width:1024px) {
    .loader {
        display: none;
    }

    .container {
        top: 85%;
    }

    .btn {
        display: none;
    }

    input {
        outline: none;
        height: 10px;
        width: 0px;
        padding: 0 10px;
        color: #000;
        border-radius: 10px;
        font-size: 10px;
        border: 1px solid #1bb134;
        transition: all .7s ease;
    }
}

/*
.court-central{
    display: grid;
    gap: 1rem;
    grid-auto-rows: 2rem;
    grid-template-columns: repeat(auot-fill, minmax(min(100%, 10rem), 1fr));
}*/